body {
    background-image: url('Image/ingredients-soup-with-meatballs-vegetables-food-background-copy-space_127032-2974.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #fff3e4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px; /* Adjust the width as needed */
    margin: 50px auto;
}

h2 {
    color: #e67e22;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff9900;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    input[type="submit"]:hover {
        background-color: #e68a00;
    }

.lblStatus {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
}
